## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [13]:
import os
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [14]:
# 設定 data_path
dir_data = './data/'

In [15]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

In [16]:
?pd.read_csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [19]:
count_row = app_train.shape[0]  # number of row count
count_col = app_train.shape[1]  # number of col count
print('row count: %s' % (count_row))
print('row count: %s' % (count_col))

row count: 307511
row count: 122

#### 列出所有欄位

In [21]:
Series(app_train.columns)

0                      SK_ID_CURR
1                          TARGET
2              NAME_CONTRACT_TYPE
3                     CODE_GENDER
4                    FLAG_OWN_CAR
5                 FLAG_OWN_REALTY
6                    CNT_CHILDREN
7                AMT_INCOME_TOTAL
8                      AMT_CREDIT
9                     AMT_ANNUITY
10                AMT_GOODS_PRICE
11                NAME_TYPE_SUITE
12               NAME_INCOME_TYPE
13            NAME_EDUCATION_TYPE
14             NAME_FAMILY_STATUS
15              NAME_HOUSING_TYPE
16     REGION_POPULATION_RELATIVE
17                     DAYS_BIRTH
18                  DAYS_EMPLOYED
19              DAYS_REGISTRATION
20                DAYS_ID_PUBLISH
21                    OWN_CAR_AGE
22                     FLAG_MOBIL
23                 FLAG_EMP_PHONE
24                FLAG_WORK_PHONE
25               FLAG_CONT_MOBILE
26                     FLAG_PHONE
27                     FLAG_EMAIL
28                OCCUPATION_TYPE
29                CNT_FAM_MEMBERS
                  ...
92       DEF_30_CNT_SOCIAL_CIRCLE
93       OBS_60_CNT_SOCIAL_CIRCLE
94       DEF_60_CNT_SOCIAL_CIRCLE
95         DAYS_LAST_PHONE_CHANGE
96                FLAG_DOCUMENT_2
97                FLAG_DOCUMENT_3
98                FLAG_DOCUMENT_4
99                FLAG_DOCUMENT_5
100               FLAG_DOCUMENT_6
101               FLAG_DOCUMENT_7
102               FLAG_DOCUMENT_8
103               FLAG_DOCUMENT_9
104              FLAG_DOCUMENT_10
105              FLAG_DOCUMENT_11
106              FLAG_DOCUMENT_12
107              FLAG_DOCUMENT_13
108              FLAG_DOCUMENT_14
109              FLAG_DOCUMENT_15
110              FLAG_DOCUMENT_16
111              FLAG_DOCUMENT_17
112              FLAG_DOCUMENT_18
113              FLAG_DOCUMENT_19
114              FLAG_DOCUMENT_20
115              FLAG_DOCUMENT_21
116    AMT_REQ_CREDIT_BUREAU_HOUR
117     AMT_REQ_CREDIT_BUREAU_DAY
118    AMT_REQ_CREDIT_BUREAU_WEEK
119     AMT_REQ_CREDIT_BUREAU_MON
120     AMT_REQ_CREDIT_BUREAU_QRT
121    AMT_REQ_CREDIT_BUREAU_YEAR
Length: 122, dtype: object

In [28]:
"""
idx = app_train.index # get row index
label = app_train.index[0] # 1st row label
idx = app_train.coulmns # get columns index
label = app_train.columns[0] # 1st columns label
"""
lst = app_train.columns.tolist() # get as a list
print('%s' % (lst))

['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

#### 截取部分資料

In [29]:
app_train.head(10) #fetch 10 rows

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [31]:
fetch = app_train[['ENTRANCES_MODE', 'FLOORSMAX_MODE', 'TARGET']] # random 3 columns
print('%s' % (fetch))

        ENTRANCES_MODE  FLOORSMAX_MODE  TARGET
0               0.0690          0.0833       1
1               0.0345          0.2917       0
2                  NaN             NaN       0
3                  NaN             NaN       0
4                  NaN             NaN       0
5                  NaN             NaN       0
6                  NaN             NaN       0
7                  NaN             NaN       0
8                  NaN             NaN       0
9                  NaN             NaN       0
10                 NaN             NaN       0
11                 NaN             NaN       0
12              0.2069          0.1667       0
13              0.1379          0.3333       0
14              0.1724          0.6667       0
15                 NaN             NaN       0
16                 NaN             NaN       0
17                 NaN             NaN       0
18              0.1034          0.0833       0
19                 NaN             NaN       0
20              0.1379          0.1667       0
21                 NaN             NaN       0
22              0.2069          0.1667       0
23              0.1034          0.3750       0
24              0.3103          0.1667       0
25              0.1379          0.1667       0
26              0.0690          0.0417       1
27                 NaN             NaN       0
28                 NaN             NaN       0
29              0.1379          0.3333       0
...                ...             ...     ...
307481             NaN             NaN       1
307482          0.0690          0.1667       0
307483          0.0690          0.0417       0
307484             NaN             NaN       0
307485             NaN             NaN       0
307486          0.2069          0.3333       0
307487             NaN             NaN       0
307488             NaN             NaN       0
307489          0.0345          0.0000       1
307490             NaN             NaN       0
307491             NaN             NaN       0
307492             NaN             NaN       0
307493             NaN             NaN       0
307494             NaN             NaN       0
307495          0.0690          0.3333       0
307496             NaN             NaN       0
307497             NaN             NaN       0
307498          0.1034          0.6667       0
307499             NaN             NaN       0
307500          0.0345          0.6250       0
307501          0.0345          0.0417       0
307502             NaN             NaN       0
307503             NaN             NaN       0
307504             NaN             NaN       0
307505          0.2069          0.3333       0
307506          0.0345          0.4583       0
307507          0.1034          0.0833       0
307508          0.2069          0.1667       0
307509          0.0690          0.0417       1
307510          0.0690          0.3750       0

[307511 rows x 3 columns]

In [35]:
random_fetch = app_train['ENTRANCES_MODE'].sample(n=3, random_state=1)
print('%s' % (random_fetch))

64282    NaN
94645    NaN
306349   NaN
Name: ENTRANCES_MODE, dtype: float64

In [46]:
random_fetch = app_train.sample(frac=0.5, replace=True, random_state=2)
print('%s' % (random_fetch))

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
100879      217127       0         Cash loans           M            N
203245      335629       1         Cash loans           M            Y
95816       211235       0         Cash loans           F            Y
84434       197953       0         Cash loans           F            Y
33867       139243       0         Cash loans           M            Y
53922       162475       0         Cash loans           M            N
33201       138467       0         Cash loans           F            N
252511      392174       0         Cash loans           F            N
43595       150464       0         Cash loans           M            N
35541       141166       0         Cash loans           F            N
294175      440807       0         Cash loans           M            N
203156      335523       0         Cash loans           M            Y
172156      299511       0         Cash loans           F            N
182951      312053       0         Cash loans           M            Y
251075      390520       1         Cash loans           M            Y
111718      229604       1         Cash loans           F            N
121604      240989       0    Revolving loans           M            Y
21418       124955       1         Cash loans           F            N
118835      237802       0         Cash loans           M            Y
244071      382520       1         Cash loans           F            N
278049      422177       0         Cash loans           F            N
16639       119410       0         Cash loans           F            N
238917      376752       0         Cash loans           M            Y
119896      239030       0         Cash loans           F            N
91438       206186       0         Cash loans           M            Y
116063      234591       0         Cash loans           M            N
93395       208460       0         Cash loans           F            N
116276      234844       0         Cash loans           F            N
281838      426470       0         Cash loans           M            N
257074      397490       0         Cash loans           F            N
...            ...     ...                ...         ...          ...
261753      403009       0         Cash loans           F            N
162928      288880       0         Cash loans           M            Y
226975      362913       1         Cash loans           M            Y
52938       161313       0         Cash loans           M            Y
32369       137524       0         Cash loans           M            N
93078       208079       0         Cash loans           M            Y
222728      357985       0         Cash loans           F            Y
1323        101554       0    Revolving loans           M            N
110600      228304       0         Cash loans           M            N
127263      247585       1         Cash loans           M            Y
281967      426600       0         Cash loans           M            N
135759      257459       0         Cash loans           M            N
210158      343547       0         Cash loans           F            N
201449      333519       0         Cash loans           F            Y
168865      295727       0         Cash loans           F            N
209493      342805       0         Cash loans           F            N
283876      428753       0         Cash loans           M            N
258962      399688       0         Cash loans           F            N
76237       188408       0         Cash loans           F            Y
107306      224502       0         Cash loans           M            N
87068       201051       1         Cash loans           M            N
60795       170501       0         Cash loans           F            N
80752       193623       0         Cash loans           M            N
126727      246971       0         Cash loans           M            N
68407       179345       0         Cash loans           M            Y
271558      414817       1         Cash loans           M            N
275708      419488       0         Cash loans           M            Y
152033      276218       0         Cash loans           F            N
241160      379244       0         Cash loans           F            N
221386      356452       1         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
100879               N             0          67500.00    454500.0
203245               Y             0         157500.00    808650.0
95816                Y             0          90000.00    535500.0
84434                Y             1         153000.00    808650.0
33867                N             3         315000.00    900000.0
53922                N             0          90000.00    659610.0
33201                N             0         117000.00    545040.0
252511               N             2         157500.00    680112.0
43595                Y             0          76500.00    450000.0
35541                N             1         135000.00   1061599.5
294175               Y             2         135000.00   1006920.0
203156               N             0         189000.00    855000.0
172156               N             1         180000.00    521280.0
182951               Y             0         450000.00   1078200.0
251075               Y             0         135000.00    229500.0
111718               N             0         112500.00    604152.0
121604               Y             2         202500.00    540000.0
21418                Y             0         139500.00    328405.5
118835               Y             0         180000.00    810000.0
244071               Y             0          81000.00    112500.0
278049               Y             0         157500.00   1071355.5
16639                N             0         247500.00    675000.0
238917               Y             0         135000.00    545040.0
119896               Y             2          90000.00    314100.0
91438                Y             0         157500.00    675000.0
116063               Y             2          67500.00    457119.0
93395                N             0         351000.00    675000.0
116276               Y             1         148500.00    584766.0
281838               N             0         264543.75   1575000.0
257074               N             0         180000.00    314055.0
...                ...           ...               ...         ...
261753               N             0         108000.00    450000.0
162928               Y             1         225000.00   1350000.0
226975               Y             0         135000.00    592560.0
52938                Y             0         135000.00    152820.0
32369                Y             0         135000.00   1078200.0
93078                N             2         157500.00    598486.5
222728               Y             0         180000.00    768550.5
1323                 N             0         180000.00    270000.0
110600               N             0         180000.00    750154.5
127263               Y             0         279000.00    539100.0
281967               Y             0         306000.00    528633.0
135759               N             0         157500.00    490495.5
210158               Y             1         180000.00    848070.0
201449               Y             0         247500.00   1232793.0
168865               Y             0          90000.00    182286.0
209493               N             1         225000.00   1621143.0
283876               Y             1         450000.00    777024.0
258962               Y             0         112500.00    144486.0
76237                Y             0         112500.00    808650.0
107306               N             0         292500.00    360000.0
87068                Y             0         112500.00    412942.5
60795                Y             0         135000.00    770292.0
80752                Y             0         112500.00    157500.0
126727               N             0         112500.00    291915.0
68407                N             0         540000.00    900000.0
271558               Y             1         157500.00    408330.0
275708               Y             0         135000.00    254700.0
152033               Y             0         157500.00    697500.0
241160               N             0         157500.00    172021.5
221386               N             0         157500.00    585000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
100879      14791.5  ...                 0                0                0
203245      26217.0  ...                 0                0                0
95816       22819.5  ...                 0                0                0
84434       26217.0  ...                 0                0                0
33867       38263.5  ...                 0                0                0
53922       18265.5  ...                 1                0                0
33201       30564.0  ...                 0                0                0
252511      53865.0  ...                 0                0                0
43595       21109.5  ...                 0                0                0
35541       34375.5  ...                 0                0                0
294175      40063.5  ...                 0                0                0
203156      30420.0  ...                 0                0                0
172156      28408.5  ...                 0                0                0
182951      38331.0  ...                 0                0                0
251075      24097.5  ...                 0                0                0
111718      30847.5  ...                 0                0                0
121604      27000.0  ...                 0                0                0
21418       26077.5  ...                 0                0                0
118835      28827.0  ...                 0                0                0
244071      11088.0  ...                 0                0                0
278049      45522.0  ...                 0                0                0
16639       37822.5  ...                 0                0                0
238917      20677.5  ...                 0                0                0
119896      17167.5  ...                 0                0                0
91438       36616.5  ...                 0                0                0
116063      23467.5  ...                 0                0                0
93395       32472.0  ...                 0                0                0
116276      29988.0  ...                 0                0                0
281838      39816.0  ...                 0                0                0
257074      17167.5  ...                 0                0                0
...             ...  ...               ...              ...              ...
261753      30204.0  ...                 0                0                0
162928      39604.5  ...                 0                0                0
226975      32274.0  ...                 0                0                0
52938       16587.0  ...                 0                0                0
32369       31653.0  ...                 0                0                0
93078       25290.0  ...                 0                0                0
222728      37102.5  ...                 0                0                0
1323        13500.0  ...                 0                0                0
110600      36085.5  ...                 0                0                0
127263      26064.0  ...                 0                0                0
281967      25560.0  ...                 0                0                0
135759      30136.5  ...                 0                0                0
210158      27486.0  ...                 0                0                0
201449      52362.0  ...                 0                0                0
168865      18805.5  ...                 0                0                0
209493      44707.5  ...                 0                0                0
283876      41526.0  ...                 0                0                0
258962       6250.5  ...                 0                0                0
76237       26217.0  ...                 0                0                0
107306      28570.5  ...                 0                0                0
87068       30177.0  ...                 0                0                0
60795       32764.5  ...                 0                0                0
80752        9171.0  ...                 0                0                0
126727      25182.0  ...                 0                0                0
68407       32017.5  ...                 0                0                0
271558      20979.0  ...                 0                0                0
275708      14350.5  ...                 0                0                0
152033      32449.5  ...                 0                0                0
241160      18193.5  ...                 0                0                0
221386      31756.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
100879                0                        0.0                       0.0
203245                0                        NaN                       NaN
95816                 0                        0.0                       0.0
84434                 0                        0.0                       0.0
33867                 0                        0.0                       0.0
53922                 0                        0.0                       0.0
33201                 0                        0.0                       0.0
252511                0                        0.0                       0.0
43595                 0                        0.0                       0.0
35541                 0                        NaN                       NaN
294175                0                        0.0                       0.0
203156                0                        0.0                       0.0
172156                0                        0.0                       0.0
182951                0                        0.0                       0.0
251075                0                        NaN                       NaN
111718                0                        0.0                       0.0
121604                0                        0.0                       0.0
21418                 0                        0.0                       0.0
118835                0                        0.0                       0.0
244071                0                        0.0                       0.0
278049                0                        0.0                       0.0
16639                 0                        0.0                       0.0
238917                0                        0.0                       0.0
119896                0                        0.0                       0.0
91438                 0                        0.0                       0.0
116063                0                        0.0                       0.0
93395                 0                        0.0                       0.0
116276                0                        0.0                       0.0
281838                0                        0.0                       0.0
257074                0                        0.0                       0.0
...                 ...                        ...                       ...
261753                0                        0.0                       0.0
162928                0                        NaN                       NaN
226975                0                        0.0                       0.0
52938                 0                        0.0                       0.0
32369                 0                        0.0                       0.0
93078                 0                        0.0                       0.0
222728                0                        NaN                       NaN
1323                  0                        0.0                       0.0
110600                0                        NaN                       NaN
127263                0                        0.0                       0.0
281967                0                        1.0                       0.0
135759                0                        NaN                       NaN
210158                0                        NaN                       NaN
201449                0                        0.0                       0.0
168865                0                        NaN                       NaN
209493                0                        NaN                       NaN
283876                0                        0.0                       0.0
258962                0                        NaN                       NaN
76237                 0                        0.0                       0.0
107306                0                        0.0                       0.0
87068                 0                        0.0                       0.0
60795                 0                        1.0                       0.0
80752                 0                        0.0                       0.0
126727                0                        0.0                       0.0
68407                 0                        0.0                       0.0
271558                0                        0.0                       0.0
275708                0                        0.0                       0.0
152033                0                        0.0                       0.0
241160                0                        0.0                       0.0
221386                0                        0.0                       3.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
100879                         0.0                        0.0
203245                         NaN                        NaN
95816                          0.0                        0.0
84434                          0.0                        0.0
33867                          0.0                        0.0
53922                          0.0                        0.0
33201                          0.0                        1.0
252511                         0.0                        0.0
43595                          0.0                        2.0
35541                          NaN                        NaN
294175                         0.0                        3.0
203156                         0.0                        0.0
172156                         0.0                        0.0
182951                         0.0                        0.0
251075                         NaN                        NaN
111718                         0.0                        1.0
121604                         0.0                        0.0
21418                          0.0                        0.0
118835                         0.0                        1.0
244071                         0.0                        0.0
278049                         0.0                        0.0
16639                          0.0                        0.0
238917                         0.0                        0.0
119896                         0.0                        0.0
91438                          0.0                        0.0
116063                         0.0                        0.0
93395                          0.0                        0.0
116276                         0.0                        0.0
281838                         0.0                        0.0

In [65]:
random_fetch = app_train.sample(n=3, replace=1, random_state =0, axis =1)
print('%s' % (random_fetch))

        APARTMENTS_AVG  YEARS_BUILD_AVG  AMT_REQ_CREDIT_BUREAU_DAY
0               0.0247           0.6192                        0.0
1               0.0959           0.7960                        0.0
2                  NaN              NaN                        0.0
3                  NaN              NaN                        NaN
4                  NaN              NaN                        0.0
5                  NaN              NaN                        0.0
6                  NaN              NaN                        0.0
7                  NaN              NaN                        0.0
8                  NaN              NaN                        0.0
9                  NaN              NaN                        NaN
10                 NaN              NaN                        0.0
11                 NaN              NaN                        0.0
12              0.0825              NaN                        0.0
13              0.1474           0.7348                        0.0
14              0.3495           0.9796                        NaN
15                 NaN              NaN                        0.0
16                 NaN              NaN                        0.0
17                 NaN              NaN                        NaN
18              0.0278           0.8368                        0.0
19                 NaN              NaN                        0.0
20              0.0722           0.7008                        NaN
21                 NaN              NaN                        0.0
22              0.0907           0.7076                        0.0
23              0.1443           0.8300                        0.0
24              0.1433           0.8096                        0.0
25              0.0722           0.7008                        0.0
26              0.0165              NaN                        0.0
27                 NaN              NaN                        0.0
28                 NaN              NaN                        0.0
29              0.1505           0.7688                        NaN
...                ...              ...                        ...
307481             NaN              NaN                        0.0
307482          0.0392           0.6396                        0.0
307483          0.0082           0.6532                        0.0
307484             NaN              NaN                        NaN
307485             NaN              NaN                        0.0
307486          0.2459              NaN                        0.0
307487             NaN              NaN                        0.0
307488             NaN              NaN                        0.0
307489          0.0113           0.5580                        0.0
307490             NaN              NaN                        0.0
307491             NaN              NaN                        0.0
307492             NaN              NaN                        0.0
307493             NaN              NaN                        0.0
307494             NaN              NaN                        0.0
307495          0.0742              NaN                        0.0
307496             NaN              NaN                        0.0
307497             NaN              NaN                        0.0
307498          0.2062           0.8504                        0.0
307499             NaN              NaN                        0.0
307500          0.1299              NaN                        0.0
307501          0.0392              NaN                        NaN
307502             NaN              NaN                        0.0
307503             NaN              NaN                        0.0
307504             NaN              NaN                        NaN
307505          0.2206           0.8096                        0.0
307506          0.2021           0.8300                        NaN
307507          0.0247           0.6260                        NaN
307508          0.1031           0.7484                        0.0
307509          0.0124              NaN                        0.0
307510          0.0742              NaN                        0.0

[307511 rows x 3 columns]

In [53]:
"""
参数名称	参数说明	举例说明
n	要抽取的行数	
df.sample(n=3,random_state=1)
提取3行数据列表
注意，使用random_state，以确保可重复性的例子。

frac	
抽取行的比例
例如frac=0.8，就是抽取其中80%。

replace	
是否为有放回抽样，
True:有放回抽样
False:未放回抽样
True:取行数据后，可以重复放回后再取
False:取行数据后不放回，下次取其它行数据
注意：当N>总数据容量，replace设置为值时有效

 

weights	
字符索引或概率数组

axis=0:为行字符索引或概率数组
axis=1:为列字符索引或概率数组

 
random_state	
int: 随机数发生器种子
或numpy.random.RandomState
random_state=None,取得数据不重复
random_state=1,可以取得重复数据

axis	
选择抽取数据的行还是列
axis=0:抽取行
axis=1:抽取列

也就是说axis=1时，在列中随机抽取n列，在axis=0时，在行中随机抽取n行。

"""

'\n参数名称\t参数说明\t举例说明\nn\t要抽取的行数\t\ndf.sample(n=3,random_state=1)\n提取3行数据列表\n注意，使用random_state，以确保可重复性的例子。\n\nfrac\t\n抽取行的比例\n例如frac=0.8，就是抽取其中80%。\n\nreplace\t\n是否为有放回抽样，\nTrue:有放回抽样\nFalse:未放回抽样\nTrue:取行数据后，可以重复放回后再取\nFalse:取行数据后不放回，下次取其它行数据\n注意：当N>总数据容量，replace设置为值时有效\n\n\xa0\n\nweights\t\n字符索引或概率数组\n\naxis=0:为行字符索引或概率数组\naxis=1:为列字符索引或概率数组\n\n\xa0\nrandom_state\t\nint: 随机数发生器种子\n或numpy.random.RandomState\nrandom_state=None,取得数据不重复\nrandom_state=1,可以取得重复数据\n\naxis\t\n选择抽取数据的行还是列\naxis=0:抽取行\naxis=1:抽取列\n\n也就是说axis=1时，在列中随机抽取n列，在axis=0时，在行中随机抽取n行。\n\n'